body {
  background: black;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

h1,
h2,
h3 {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

img {
  object-fit: contain;
}

.container {
  max-width: 960px;
  padding: 0 32px !important;
}

#landing {
  position: relative;
  height: 800px;
  max-height: 100vh;
  width: 100%;
}

.landing-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 100;
}

.event-info {
  position: relative;
  flex: 1;
  padding: 16px;
  width: 100%;
  max-width: 360px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.coming-soon {
  text-align: center;
  padding: 10px 22px 6px 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 24px;
  letter-spacing: 6px;
  line-height: 1.2;
}

.arrow-btn {
  display: inline-block;
  position: relative;
  padding: 10px 22px 6px 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: 600;
  font-variant: normal;
  text-align: center;
  text-transform: uppercase;
  animation: float-down 3s cubic-bezier(0.165, 0.84, 0.44, 1), fade-in 3s linear;
  animation: zoom-in 2s cubic-bezier(0.165, 0.84, 0.44, 1), fade-in 2s linear;
}

.arrow-btn::before {
  position: absolute;
  left: 24px;
  font-weight: 300;
  display: inline-block;
  content: "〉";
  transform: translateX(-8px);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow-btn::after {
  position: absolute;
  right: 16px;
  font-weight: 300;
  display: inline-block;
  content: "〈";
  transform: translateX(8px);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.arrow-btn:hover {
  border-color: rgba(255, 255, 255, 1);
  color: white;
  cursor: pointer !important;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.25s linear;
}

.arrow-btn:hover::before,
.arrow-btn:hover::after {
  transform: translateX(0);
  opacity: 1;
}

.arrow-btn:focus,
.arrow-btn:active {
  color: rgba(250, 200, 200, 1);
  background-color: rgba(203, 0, 0, 0.25);
  border-color: rgba(203, 0, 0, 1);
  transition: none;
  outline: none;
}

#middle-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  pointer-events: none;
}

#gradient {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 0;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  pointer-events: none;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

#about {
  font-size: 20px;
}

#partners img {
  max-width: 100%;
}
